doctype
html(lang="es")
head
	meta(charset="UTF-8")
	title ATRIBUTOS
body
	h1 ATRIBUTOS
	a(href="www.google.com", target="_blank") ir a google

	a(
	class="link",
	href="www.youtube.com",
	taget="_blank"
	) ir a youtube