doctype
html(lang="es")
head
	meta(charset="UTF-8")
	title Comentarios</title>
body
	h1 Comentario
	// Este es un comentario y es visible en html
	//-Este es un comentario que no es visible en html
	//
		Esto es un 
		comentario
		de varias 
		lineas
