docytpe
html(lang="es")
	head
		meta(charset="UTF-8")
		title RETO
	body
		h1 RETO TABLA
		table(width= '500px;', height= '300px;')
			each val,index in ['#e6f2ff', '#ccccff', '#b3b3ff', '#9999ff', '#8080ff', '#6666ff', '#4d4dff', '#3333ff', '#1a1aff']
				tr: td(style='background-color:'+val)
		
		



 
