body {
	background-color: #003145;
	font: 16px Arial;
}

h1 {
	font-size: 3em;
	background: linear-gradient(to top, #369AC3, #B5187F);
	margin: 50px auto;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: center;
	transition: all 0.5s ease;
	width: 580px;
}
	a:link.btn,
	a:visited.btn {
		border: 1px solid lime;
		border-radius: 4px;
	background: linear-gradient(to top, #42DB0C, #F22222);
		display: block;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding: 12px;
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		transition: all 0.5s ease;
		width: 120px;
		margin: 90px auto;
	&:hover {
		transform: translateY(-10px) scale(1.1);
	}
}

section.modal {
	background-color: rgba(0,0,0, .8);
	position: fixed;
	top: 0px;
	opacity: 0;
	pointer-events: none;
	left: 0px;
	bottom: 0px;
	right: 0px;
	transition: all 0.5s ease;
	transform: scale(.2) translateX(1000px);
	z-index: 9999;

	&:target {
		opacity: 1;
		pointer-events: auto;
		transform: scale(1) translateY(0px);
	}
	> div {
		background-color: rgba(255,255,255, .8);
		box-shadow: 0px 0px 15px rgba(0,0,0,.6);
		border-radius: 4px;
		// -----------------------------------
		// Condicionales
		$age: 27;
		@if $age >= 18 {
			h2 {
				color: blue;
				position: relative;
				&:after {
					content: "SI PUEDE VOTAR";
				}
			}
		}
		@else {
			h2 {
				color: crimson;
				position: relative;
				&:after {
					content: "NO PUEDE VOTAR";
				}
			}
		}
		// color:rgba(0,0,0, .6);
		padding: 20px;
		position: relative;
		top: 40%;
		left: 50%;
		transform: translateY(-40%);
		transform: translateX(-50%);
		width: 400px;

		a:link,
		a:visited {
			font-size: 2em;
			display: block;
			text-decoration: none;
			color: crimson;
			position: absolute;
			top: 0px;
			right: 10px;

		}
	}
}