* {
	margin: 0;
	padding: 0;
}

body {
	background: #fffffa;
	background: url(http://www.fondosni.com/images/2013-04-26/Fondo%20azul%20bajo-912242.jpg) center;
}

header {
	width: 100%;
	nav {
		background: #024959;
		width: 90%;
		max-width: 1000px;
		margin: 20px auto;
		ul {
			overflow: hidden;
			list-style: none;
			
		}
		ul li {
			float: left;
		}
		a {
			color: #fff;
			padding: 20px;
			display: block;
			text-decoration: none;
			font-family: sans-serif;	
		}
		span {
			margin-right: 10px;
		}
	}
	ul li a:hover {
		background-color: #037c8c;
		transition: all 0.5s ease-in;
		transform: scale(1);
		color: #000;
	}
}
section {
	box-shadow: 0px 0px 10px #000 inset;
	color: #B8E0AA;
	margin: 0px auto;
	padding: 40px;
	width: 90%;
	height: auto;
	background-color: rgba(255,255,255, 0.2);
}
.menu_bar {
		display: none;
}

@media screen and (max-width: 800px) {
	header nav {
		width: 80%;
		height: 56.7%;
		left: -100%;
		margin: 0;
		position: fixed;
		ul li {
			display: block;
			float: none;
			border-bottom: 1px solid rgba(255,255,255, .3);
		}
	}
	.menu_bar {
		display: block;
		width: 100%;
		background: #ccc;
		span {
			float: right;
			font-size: 40px;
		}
		.bt-menu {
			display: block;
			padding: 20px;
			background: #024959;
			color: #fff;
			text-decoration: none;
			font-weight: bold;
			font-size: 25px;
			-webkit-box-sizing:border-box;
			-box-sizing: border-box;
		}
	}
}
